<section class="result">
  <div class="result__buttons">
    <a href="{{ path('donation_finance') }}" class="button button--primary">Podporiť finančne</a>
    <a href="{{ path('donation_nonfinance') }}" class="button button--secondary">Podporiť nefinančne</a>
  </div>

  <a href="#sharing-is-caring" class="result__share">
    <i class="icon-arrow-right" style="display: inline-block; transform: scale(1.5) translateY(1px);"></i> Pomôcť zdieľaním
  </a>

  <div class="separator"></div>

  <div class="result__stats">
    <p class="p1">Aktuálne sme spoločne prispeli</p>
    <p class="h2">{{ donatedAmount }}</p>
  </div>
  <div class="result__stats" style="margin-bottom: 30px;">
    <p class="p1">Doteraz sme minuli</p>
    <p class="h2">{{ spentAmount }}</p>
  </div>
  <div class="result__stats" style="margin-bottom: 30px;">
    <p class="p1">Aktuálny stav <a href="https://ib.fio.sk/ib/transparent?a=2901467117" target="_blank" title="Aktuálny stav transparentného účtu">transparentného účtu</a></p>
    <p class="h2">{{ currentBalance }}</p>
  </div>
</section>
