{% extends "layout.html.twig" %}
{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-content">
          <h2>Darujem</h2>
          <p>Uvítame aj nefinančnú pomoc, v prípade ak nám môžete pomôcť zdravotnými pomôckami, vyplnte nasledovný formulár.</p>
          {{ form_start(form) }}
          {{ form_row(form.contactPerson) }}
          {{ form_row(form.address) }}
          {{ form_row(form.telephone) }}
          {{ form_row(form.donationItem) }}
          {{ form_row(form.quantity) }}
          {{ form_row(form.policy) }}
          <p class="small-text">Vyhlásenie: Zakliknutím potvrdzujem, že mám viac ako 18 rokov a dobrovoľne súhlasím s
            tým, aby fyzické osoby z iniciatívy "Ktopomozeslovensku.sk" spracúvali mnou poskytnuté osobné údaje (meno,
            priezvisko, email, telefonné čislo, adresu) pre účel pomoci s pandémiou Korona vírusu na Slovensku, ako je uvedené v našich
            <a href="{{ path('policy') }}">Pravidlách ochrany osobných údajov</a>. Súhlasím s kontaktovaním za týmto účelom a s archiváciou
            osobných údajov počas nevyhnutne nutného obdobia maximálne však do 3 mesiacov po odvolaní súhlasu.
            Potvrdzujem, že všetky uvedené údaje sú pravdivé, aktuálne a kompletné. Svoj súhlas môžem kedykoľvek odvolať
            spôsobom uvedeným v Pravidlách ochrany osobných údajov.</p>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

