{% extends "layout.html.twig" %}
{% block main %}
  <div class="l-container">
    <h1 class="hero__heading-standalone">Potrebujem pomoc</h1>

    <article class="article">
      <div class="article__body">
        <p>Stačí vyplniť nasledovný formulár. Všetky polia sú povinné.</p>
      </div>
    </article>
    <article class="article">
      <header>
        <h3 class="article__heading">Kontaktné údaje</h3>
      </header>
      <div class="article__body">
        {{ form_start(form) }}
        {{ form_row(form.institutionName) }}
        {{ form_row(form.address) }}
        {{ form_row(form.contactPerson) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.email) }}
        <h3 style="margin-bottom: 32px">Typ pomôcok, ktoré potrebujete</h3>
        {% for item in form.items %}
          <div class="form-container requested__item">
              {{ form_widget(item.item) }}
              {% if item.quantity is defined %}
                {{ form_widget(item.quantity) }}
              {% endif %}
              {% if item.description is defined %}
                {{ form_widget(item.description) }}
              {% endif %}
          </div>
        {% endfor %}
        {{ form_widget(form.policy) }}
            <p class="p4" style="margin-bottom: 32px">
              Vyhlásenie: Zakliknutím potvrdzujem, že mám viac ako 18 rokov a dobrovoľne súhlasím s tým, aby fyzické osoby z iniciatívy "Ktopomozeslovensku.sk" spracúvali mnou poskytnuté osobné údaje (meno, priezvisko, email, telefonné čislo, adresu) pre účel pomoci s pandémiou Korona vírusu na Slovensku, ako je uvedené v našich Pravidlách ochrany osobných údajov. Súhlasím s kontaktovaním za týmto účelom a s archiváciou osobných údajov počas nevyhnutne nutného obdobia maximálne však do 3 mesiacov po odvolaní súhlasu. Potvrdzujem, že všetky uvedené údaje sú pravdivé, aktuálne a kompletné. Svoj súhlas môžem kedykoľvek odvolať spôsobom uvedeným v Pravidlách ochrany osobných údajov.
            </p>
        {{ form_end(form) }}
      </div>
    </article>
  </div>
{% endblock %}

