{% extends "layout.html.twig" %}
{% block main %}
  <div class="l-container">
    <header class="hero">
      <h1 class="hero__heading">Pomoc pre slovenské zdravotnícke zariadenia</h1>
      <p class="hero__subheading">Aby sme spolu zvládli pandémiu koronavírusu</p>
    </header>

    <div class="separator" style="width: 100%; max-width: 300px"></div>

    <section class="result">
      <div class="result__stats">
        <p class="p1">Aktuálne sme spoločne prispeli</p>
        <p class="h1">{{ donatedAmount }}</p>
      </div>

      <div class="result__buttons">
        <a href="#" class="button button--primary">Podporiť finančne</a>
        <a href="#" class="button button--secondary">Podporiť nefinančne</a>
      </div>

      <a href="#sharing-is-caring" class="result__share">
        <i class="icon-arrow-right" style="display: inline-block; transform: scale(1.5) translateY(1px);"></i> Pomôcť zdieľaním
      </a>
    </section>

    {% include "partials/need-help.html.twig" %}

    {% include "partials/need-help.html.twig" %}

    <article class="article">
      <header>
        <h1 class="article__heading">Komu sme pomohli</h1>
      </header>

      <div class="article__body">
        <ul>
          {% for donation in donations %}
          <li class="l-log">
            <span class="l-log__date">{{ donation.donatedAt|date("d. m. Y") }}</span>
            <span class="l-log__desc">
            <strong>{{ donation.recipient.institutionName }}.</strong>
              {{ donation.donationItem.name }}, {{ donation.count }} ks
            </span>
          </li>
          {% endfor %}
        </ul>

        <a href="{{ path('recipients') }}">Zobraziť všetko ({{ donationsCount }})</a>
      </div>
    </article>

    <article class="article">
      <header>
        <h1 class="article__heading">O projekte</h1>
      </header>

      <div class="article__body">
        <p>Prečo to robíme? Lebo všetkého je nedostatok. Pomáhame slovenským zdravotníckym zariadeniam zvládnuť pandémiu koronavírusu cez prehľadný systém financovania a zabezpečenia materiálnej pomoci pre nemocnice a domovy sociálnych služieb. Zapojiť sa môže každý, kto chce a môže.</p>

        <a href="{{ path('about') }}">Čítajte viac</a>
      </div>
    </article>
  </div>
{% endblock %}

