<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta id="responsive-view-port" name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

  <!-- Core Meta Data -->
  <meta name="description" content="Snažíme sa pomôcť slovenským zdravotníckym zariadeniam zvládnuť následky pandémie koronavírusu.">
  <meta name="keywords" content="pomoc, slovensko, corona, covid-19">

  <!-- Open Graph Meta Data -->
  <meta property="og:title" content="Kto pomôže Slovensku"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image"
        content="{{ 'https://' ~ app.request.httpHost ~ asset('static/img/og_image.png') }}"/>
  <meta property="og:description" content="Snažíme sa pomôcť slovenským zdravotníckym zariadeniam zvládnuť následky pandémie koronavírusu."/>
  <meta property="og:url" content="{{ 'https://' ~ app.request.httpHost }}">
  <!-- Twitter Card Meta Data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ 'https://' ~ app.request.httpHost }}">
  <meta name="twitter:title" content="Kto pomôže Slovensku">
  <meta name="twitter:description" content="Snažíme sa pomôcť slovenským zdravotníckym zariadeniam zvládnuť následky pandémie koronavírusu.">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ asset('static/img/favicon.png') }}" sizes="16x16">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/lur6bqj.css">

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{ asset('static/css/' ~ css_asset('public.css')) }}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <meta name="google-site-verification" content="GNZJcGcEP32Lfr96IpFg70GRf3QpJ-cofikAstxu7sg"/>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160668441-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160668441-1');
  </script>
  <!-- Facebook Pixel Code -->
  <script async>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '217008772691092');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=217008772691092&ev=PageView&noscript=1"
    /></noscript>
  <!-- End Facebook Pixel Code -->
</head>
<body>
<header>
  {% embed "partials/menu.html.twig" %}{% endembed %}
</header>
<main>
  {% block main %}{% endblock %}
</main>
<footer>
  {% embed "partials/footer.html.twig" %}{% endembed %}
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
</body>
</html>
