<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kto pomôže Slovensku</title>
  <meta id="responsive-view-port" name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

  <!-- Core Meta Data -->
  <meta name="description" content="Snažíme sa pomôcť slovenským zdravotníckym zariadeniam zvládnuť následky pandémie koronavírusu.">
  <meta name="keywords" content="pomoc, slovensko, corona, covid-19">

  <!-- Open Graph Meta Data -->
  <meta property="og:title" content="Kto pomôže Slovensku"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image"
        content="{{ 'https://' ~ app.request.httpHost ~ asset('static/img/og_image.jpg') }}"/>
  <meta property="og:description" content="Snažíme sa pomôcť slovenským zdravotníckym zariadeniam zvládnuť následky pandémie koronavírusu."/>
  <meta property="og:url" content="{{ 'https://' ~ app.request.httpHost }}">

  <!-- Twitter Card Meta Data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ 'https://' ~ app.request.httpHost }}">
  <meta name="twitter:title" content="Kto pomôže Slovensku">
  <meta name="twitter:description" content="Snažíme sa pomôcť slovenským zdravotníckym zariadeniam zvládnuť následky pandémie koronavírusu.">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ asset('static/img/favicon.png') }}" sizes="16x16">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/lur6bqj.css">

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{ asset('static/css/public.css') }}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160668441-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160668441-1');
  </script>
</head>
<body>
<header>
  {% embed "partials/menu.html.twig" %}{% endembed %}
</header>
<main>
  {% block main %}{% endblock %}
</main>
<footer>
  {% embed "partials/footer.html.twig" %}{% endembed %}
</footer>
</body>
</html>
